body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    
}

#calcul{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
}

#display{
    width: 167px;
    padding: 8px;
    font-size: 15px;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    max-width: 30%;
    padding: 4px;
    
}

button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #f67c14;
}

.operateur{
    background-color: antiquewhite;
}